/**
 * Icons
 */

/* icons */

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "converter";
	src: url("../fonts/converter.eot");
	src: url("../fonts/converter.eot?#iefix") format("embedded-opentype"),
		url("../fonts/converter.woff") format("woff"),
		url("../fonts/converter.ttf") format("truetype"),
		url("../fonts/converter.svg#converter") format("svg");
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

[data-icon]:before {
	content: attr(data-icon);
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-family: "converter";
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-apple,
.icon-windows8,
.icon-paste,
.icon-storage,
.icon-stack,
.icon-hdd {
	vertical-align: top;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: "converter";
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.icon-apple:before {
	content: "\e000";
}

.icon-windows8:before {
	content: "\e001";
}

.icon-paste:before {
	content: "\e002";
}

.icon-storage:before {
	content: "\e003";
}

.icon-stack:before {
	content: "\e004";
}

.icon-hdd:before {
	content: "\f0a0";
}

.both-icons {
	position: relative;
	display: inline-block;
	padding: 0.314em;
	background-color: #333;
	color: #eee;
}

/**
 * Typography
 */

body,
.input {
	color: #333;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1;
}

a,
a:visited,
a:active {
	color: #333;
}

h1 {
	margin: 1em 0 0.314em;
	letter-spacing: -0.03em;
	font-size: 3.14em;
}

/**
 * Structure
 */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 88%;
	background: transparent;
}

.path .alpha {
	display: inline-block;
	margin-right: 1%;
	width: 3%;
	vertical-align: middle;
	text-align: center;
}

.path .beta {
	display: inline-block;
	width: 90%;
	vertical-align: middle;
}

.path .omega {
	display: inline-block;
	float: right;
	width: 4%;
	vertical-align: middle;
	text-align: center;
}

/**
 * Primary styles
 */

.input {
	width: 100%;
	outline: none;
	background-image: none;
	-webkit-transition: box-shadow .25s ease-in-out,border-color .25s ease-in-out;
	transition: box-shadow .25s ease-in-out,border-color .25s ease-in-out;
	appearance: none;
}

#source {
	margin-bottom: 30px;
	padding: 5px;
	width: 100%;
	outline: none;
	border: none;
	background-color: #fff;
	font-weight: 300;
	font-style: normal;
	font-size: 2.5em;
}

.paths {
	visibility: hidden;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out,border-color .25s ease-in-out;
	transition: opacity .25s ease-in-out,border-color .25s ease-in-out;
}

[data-valid="valid"] .paths {
	visibility: visible;
	height: auto;
	opacity: 1;
}

[data-valid="valid"] .input:focus {
	box-shadow: 0 0 5px 0 #7EB400;
}

[data-valid="invalid"] .input:focus {
	box-shadow: 0 0 5px 0 #f00;
}

.path {
	position: relative;
	padding: 0.618em 0;
	border-bottom: 1px solid #eee;
}

.path .input {
	margin: 0;
	padding: 0.314em;
	border: none;
}

.path .alpha > [class^="icon-"] {
	font-size: 1.618em;
}

.copy-button {
	position: relative;
	padding: 0.314em 0.618em;
	outline: none;
	border: none;
	background-color: #eee;
	font-size: 1em;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out,border-color .25s ease-in-out;
	transition: all .25s ease-in-out,border-color .25s ease-in-out;
}

.copy-button:focus {
	outline: none;
	box-shadow: 0 0 5px 0 #7EB400;
}

.copy-button.zeroclipboard-is-hover {
	background-color: #e6e6e6;
}

.copy-button.zeroclipboard-is-active {
	top: 1px;
}

/**
 * Footer
 */

footer {
	display: none;
}

[data-valid="valid"] footer {
	display: block;
}

footer a {
	display: block;
	padding-top: 2.618em;
	text-decoration: none;
	font-size: 0.618em;
	opacity: 0.314;
	-webkit-transition: opacity .25s ease-in-out,border-color .25s ease-in-out;
	transition: opacity .25s ease-in-out,border-color .25s ease-in-out;
}

footer a:hover {
	opacity: 1;
}